<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reservation.model.mapper.BusFoodMapper">
  <resultMap id="BaseResultMap" type="com.reservation.model.BusFood">
    <!--@mbg.generated-->
    <!--@Table bus_food-->
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="restid" jdbcType="VARCHAR" property="restid" />
    <result column="fcid" jdbcType="VARCHAR" property="fcid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="picture" jdbcType="VARCHAR" property="picture" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
    <result column="mark" jdbcType="VARCHAR" property="mark" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, restid, fcid, `name`, price, picture, `status`, order_number, mark
  </sql>
</mapper>