<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reservation.mapper.SysDictMapper">

    <select id="selectById" resultType="com.reservation.model.SysDict">
        select dkey, pkey, dvalue, dintro from sys_dict where dkey = #{key} and pkey = '0';
    </select>
</mapper>